* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

html,body {
    height: 100%;
    background-color: beige;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#start-game,#reset-game {
    padding: 10px;
}

.container {
    display: flex;
    gap: 100px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.gridCell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 250px;
    min-width: 300px;
    font-size: 120px;
    border: 1px black solid;
    padding: 5px;
}

.gridCell:hover{
    border: 2px blue solid;
    background-color: rgb(229, 227, 227);
}

.round{
    font-size: 40px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}